<!DOCTYPE html> 
<head>
    <title><%=data%></title>
    <meta property="og:title" content="<%= data %>" >
    <meta property="og:site_name" content="http://beatest.in/"
</head>
<body>
<h1>hello</h1>
</body>
</html>