<!DOCTYPE html> 
<head>
    <title><%=data%></title>
    <meta property="og:title" content="<%= data %>" >
    <meta property="og:url" content="https://beatest.in/test">
    <meta name="url" content="https://beatest.in/test/">
</head>
<body>
<h1>hello</h1>
</body>
</html>