<!DOCTYPE html> 
<head>
    <title><%=data%></title>
    <meta property="og:title" content="<%= data %>" >
    <meta property="og:url" content="https://beatest.in">
    <meta name="url" content="https://beatest.in">
    <link rel="canonical" content="https://beatest.in" >
</head>
<body>
<h1>hello</h1>
</body>
</html>